[package]
name = "aoc2022"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
itertools = "0.10"
arrayvec = "0.7"
ndarray = "0.15"
regex = "1.7"
num = "0.4"
priority-queue = "1.3"
